.status-button {
  padding: 0 10px;
}

.status-active {
  border: 1px solid green;
  background: greenyellow;
  border-radius: 5px;
}

.status-archive {
  border: 1px solid black;
  background: grey;
  border-radius: 5px;
}